@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
body {min-height:1300px;}
	/*	HOME*/
.home #header .small-cont, .home #header .bottom-menu, .home #header .header-text {display:block;}
.home #header {height:100% !important; min-height:1300px;}
#home, .home #header #mobile-tab {display:none;}
.home #header #logo {margin-bottom:50px;}
.header-cont {margin:0; padding: 0 0 30px 10px;}

.home #header {width:100%; height:auto !important; text-align:center;}
.home #header #logo {margin-bottom:0; -webkit-touch-callout: none;}
.home #header .header-cont {margin:50px 0 30px 0; padding:0; float:none; display:inline-block;}
}