@media screen and (max-width: 480px) {

#header .small-cont, .page-title, .feature-cont, .bottom-menu, #header .header-text {display:none;}
#about, #menu, #news, #contact, #gifts, #primary {position:relative; float:left; width:100%; left:0; padding:0; line-height:18px;}
.wrapper, #primary {height:auto !important;}

	/*HEADER*/
#header {width:100%; height:auto !important; text-align:center;}
#header #mobile-tab {display:block; position:absolute; bottom:-31px; width:100%; height:31px; background:url(../images/mobile-tab.png) center 0 no-repeat;}
#header #logo {margin-bottom:0; -webkit-touch-callout: none;}
#header .header-cont {margin:50px 0 30px 0; padding:0; float:none; display:inline-block;}
	
	/*	HOME*/
.home #header .small-cont, .home #header .bottom-menu, .home #header .header-text {display:block;}
.home #header {height:100% !important;}
#home, .home #header #mobile-tab {display:none;}
.home #header #logo {margin-bottom:50px;}
.header-cont {margin:0; padding: 0 0 30px 10px;}

	/*ABOUT*/
.main-image img {width:100% !important; height:auto !important; margin-top:0 !important;}
.page-content {position:relative; float:left; width:100%; padding-bottom:40px;}	
.about-text, #news .post-text, #news .post-content {width:100% !important; padding:35px 25px; margin:0 !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.text-title, #news .title, #news .date {width:100% !important;}

	/*NEWS*/
#news .line {width:100%;}
#news .post-content {margin:45px 0 20px 20px;}


	/*CONTACT*/
#contact #form-cont {width:100% !important; margin:40px 0 0 0; padding-left:25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#contact .directions {display:none;}
#contact .submit-btn {float:left;}
.submit-btn  input[type=submit] {-webkit-appearance: none; width:265px;}
#emma_signup {max-width:250px; width:250px;}
#contact .emma-submit {margin:15px 0 0 0px;}
#emma-email {width:172px;}
.input-cont, #contact #contact-form, #contact #contact-form textarea, #contact .comment-cont, #contact .text {width:100% !important;}
input[type="text"], input[type="email"], textarea {width:100%; max-width:89%;}



	/*MENU*/
#menu {text-align:center;}
#menu .styles-cont, #gifts .styles-cont {margin-bottom:20px;}
#menu .style-single, #gifts .style-single {margin:25px 0 15px 25px; width:125px; height:210px;}	
#menu .subtitle-cont, #gifts .subtitle-cont {margin:50px 0 0 0; float:none; display:inline-block;}
#menu .subtitle-cont .subtitle-text {font-size:13px;}
#menu .italic, #gifts .italic {font-size:11px; margin:2px;}
#menu .subtitle-cont .dollar {font-size:19px;}
#menu .didot, #gifts .didot {font-size:32px; margin-right:5px; margin-top:0;}
#menu .line, #gifts .line {display:none;}
#menu .single-title, #gifts .single-title {font-size:13px; margin-bottom:0;}
#menu .single-title p, #gifts .single-title p {margin-top:5px;}
#menu .single-text, #gifts .single-text {font-size:11px;}
#menu .style-link, #gifts .style-link {font-size:8px; font-weight:bold;}
.subtitle {font-size:18px; }
.subtitle span {font-size:16px;}
#menu .price span, #gifts .price span {left:40px;}
#menu .specialty .style-single {height:250px;}	
#menu .treat .style-single {height:175px;}
#menu .with-a-twist {padding-bottom:35px;}


	/*GIFTS*/
#gifts .splurge .style-single {width:125px !important; 	height: 130px !important; margin-left: 25px !important;}
#gifts .subtitle {margin-top:50px;}
#gifts .gift-headline {font-size:11px; width:300px; margin-left:10px}
#gifts .tabs .style-single {height:120px !important;}
#gifts .vip {padding-bottom:30px;}
/*#gifts #form-cont, #contact-form, #gifts .text {width:265px !important;}*/
#gifts #form-cont {margin-top:40px;}
#gifts .products li {margin:0 0 35px 0 !important; float:none; display:inline-block; width:100%;}
.woocommerce-message { width:100%; left:0;}
.woocommerce-message .button {left:13%; margin-top:60px;}

.single .product .images {width:100%; padding:0; text-align:center;}
.single .product .images img {width:100%; height:auto; float:none; display:inline-block; max-width:80%;}
#product-info {float:left; width:100%; margin-top:35px;}
#call_for_credit input {width:250px;}
#product-info button {margin-bottom:50px; width:100%; max-width:75%;}
.woocommerce ul.products {text-align:center;}
.woocommerce ul.products .button, #gifts .products .product-info {max-width:250px; display:inline-block; float:none; width:100%;}

	/*STYLES PAGE*/
.styles-page {position:relative; float:left; left:0 !important;}	
.styles-menu, #styles-circle .instruction span, #styles-circle .instruction .desktop {display:none !important;}
.bgimg, .cycloneslider, .cycloneslider-slides {width:100% !important; height:250px !important;}
#styles-circle {background:#ef4030; width:100%; height:80px; position:relative; float:left; display:block !important; left:0 !important; top:0 !important;}
#styles-circle .title {font-size: 19px; margin-top: 10px;}
#styles-circle .sub {font-size:11px;}
#styles-circle .instruction {font-size: 9px; margin-top: 6px; width:100%; text-align:center; margin-left:0;}
.cycloneslider-prev, .cycloneslider-next {position:absolute !important; }
.cycloneslider-template-default .cycloneslider-prev  {left:10px !important;}
#styles-circle .instruction .ios {display:block;}	
}

/*CART*/
.woocommerce table {margin-top:25px;}
.woocommerce table th, .woocommerce table td {padding:14px 10px;}
.woocommerce table th:first-child, .woocommerce table td:first-child {width:90px;}
.woocommerce table th:nth-child(2), .woocommerce table td:nth-child(2) {display:none;}
.woocommerce table th:nth-child(3), .woocommerce table td:nth-child(3) {width:45px;}
.woocommerce table th:nth-child(4), .woocommerce table td:nth-child(4) {width:40px;}
.woocommerce table th:last-child, .woocommerce table td:last-child {width:10px;}
.woocommerce table input.minus, .woocommerce table input.plus, .woocommerce table th.product-quantity span {display:none;}
.woocommerce table th.product-quantity:after {content:"QTY";}
.woocommerce table input[type="submit"] {font-size:12px; width:120px;}
.woocommerce table input[type="submit"]:first-child {margin:0 25px;}
form.cart, #payment .place-order {text-align:center;}

/*CHECKOUT*/
.woocommerce-checkout h3, form.checkout {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.woocommerce-checkout #primary, form.checkout .form-row {width:100%;}
#place_order {float:none; display:inline-block; width:100%; max-width:275px;}
#gift-certificate-receiver-form-single div.amount, #gift-certificate-receiver-form-multi div.amount {width:35%;}
#gift-certificate-receiver-form-single .email_amount .email, #gift-certificate-receiver-form-multi .email_amount .email {width:60%; margin-right:0;}
#gift-certificate-receiver-form-single p.coupon_amount_label, #gift-certificate-receiver-form-multi p.coupon_amount_label {margin-top:25px;}
.woocommerce-checkout .single_multi_list {padding-left:15px; width:90%;}
.woocommerce-checkout .single_multi_list label {margin-right:50px;}
.payment_box {width:100%; text-align:center;}
.payment_box p {display:inline-block; width:90%;}
form.checkout #payment {padding-left:0;}
input[type="radio"] {-webkit-appearance:radio;}
#paypal_payment_form .button {width:230px;}



