body {margin:0; padding:0; color:#fff; overflow-y:auto; background:url(../images/pattern-tile.jpg) repeat; font-family: "freight-sans-pro",sans-serif; font-style: normal;}
.freight-medium {font-weight:400;}
.freight-bold {font-weight:700;}
.freight-book {font-family: "freight-sans-pro",sans-serif; font-style: normal; font-weight: 400;}
.page-title {position:relative; top:-2px; background:url(../images/half-circle.png) no-repeat; z-index:2;
	width:240px; height:50px; margin-left:270px; padding-top:20px; font-size:14px; text-transform:uppercase; text-align:center; font-weight:700; letter-spacing:1.5px;}
#about, #menu, #news, #contact, #gifts, #primary, #main {width:774px; position:absolute; top:0; left:280px; font:normal 14px "freight-sans-pro";
 letter-spacing:1px; background:#2c2c2c; padding-right:40px; line-height:22px;}
.line {position:relative; float:left; width:774px; height:1px; background:#bcbcbc; margin-bottom:50px;}
.white-bullet {position:relative; float:left;}
a img {border:0;}
a, select {outline:0;}
.bgimg {display:none;}
ul, li {list-style:none; padding:0; margin:0;}
input, textarea, .button, select {-webkit-border-radius:0px; -webkit-appearance:none; -moz-appearance:none; appearance:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; resize:none;}
#news #nav-below {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.button:hover {background:#000;}
/*HEADER*/
#header {position:relative; float:left; width:280px; background:#ef4030; height:100%; font:normal 12px "freight-sans-pro"; z-index:10; letter-spacing:1.5px;}
#header div, #header a {position:relative; float:left; width:100%; text-align:center;}
#header .header-cont {width:180px; margin:50px 0px 30px 55px;}
/*#header #logo {margin-bottom:50px; background:url(../images/logo.png) no-repeat; width:155px; height:75px;}*/
#header #logo {margin-bottom:45px; height:72px;}
#header #logo img {width:152px;}
#header #logo img:hover {width:147px; height:67px; margin-bottom:50px;}
#header .header-text {font-size:12px; text-transform:uppercase; margin-bottom:35px;}
#header .header-links {font-size:14px; text-transform:uppercase; margin-bottom:20px; color:#fff; text-decoration:none; letter-spacing:.75px;}
#header .header-links:hover, #header .address a:hover, #home-circle .view-menu:hover, #header .site-credit:hover {color:#191919 !important;}
.mailto:hover {color:#EF4030 !important; text-decoration:none;}
#header .dryer-img {margin:10px 0 20px 0;}
#header .address {font-size:14px; text-transform:lowercase; margin-bottom:30px;}
#header .hours {text-transform:none !important;}
#header .address a {color:#fff; text-decoration:none;}
#header .social-links {margin-right:30px; width:20px; height:20px;}
#header .social-links:hover {background-position: 0 -20px !important;}
#header #facebook {background:url(../images/facebook.gif) no-repeat;}
#header #twitter {background:url(../images/twitter.gif) no-repeat;}
#header #pinterest {background:url(../images/pinterest.gif) no-repeat;}
#header #instagram {margin-right:0 !important; background:url(../images/instagram.gif) no-repeat;}
#header .site-credit {position:relative; float:left; width:100%; margin-top:30px; text-transform:uppercase; color:#fff; text-decoration:none;}
#header #mobile-tab {display:none;}

/*HOMEPAGE*/
#home {position:fixed; top:0; left:280px; width:100%;}
#bg-img {position:fixed; top:0px; left:280px !important; z-index:-1;}
#home-circle {background:url(../images/home-circle.png) no-repeat; width:278px; height:278px; position:absolute; z-index:5;}
#home-circle .view-menu {position:absolute; bottom:55px; width:100%; text-align:center; text-transform:uppercase; color:#fff; text-decoration:none; font:normal 12px "freight-sans-pro";}

/*ABOUT*/  /*GROUPS AND EVENTS*/
#about .main-image, #contact .main-image {position:relative; float:left; width:100%;}
#about .main-image img, #contact .main-image img {width:774px; margin-top:-70px;}
#about .about-text {width:495px; position:relative; float:left; margin:35px 25px;}
#about .about-text .text-title {font-size:20px; text-transform:uppercase;}
#about .feature-cont {position:relative; float:left; margin-top:70px; width:225px;}
#about .feature-img {position:relative; float:left; margin-bottom:20px;}
#about .feature-img img {width:225px !important; height:150px !important;}


/*MENU*/   /*GIFT CERTIFICATES*/
#menu .page-title, #gifts .page-title {margin-bottom:70px;}
#menu .subtitle-cont, #gifts .subtitle-cont {position:relative; float:left; text-align:center; margin-left:25%;}
.subtitle {font-size:24px; position:relative; float:left; margin-bottom:25px;  width:100%; text-align:center;}
#menu .subtitle-text, #gifts .subtitle-text {font-size:24px; position:relative; float:left;}
#menu .italic, #gifts .italic {font-size:20px; position:relative; float:left; margin:4px; font-family: "adobe-caslon-pro",serif; font-style: italic; font-weight: 400; text-transform:capitalize;}
.subtitle span {font-family: "adobe-caslon-pro",serif; font-style: italic; font-weight: 400; font-size:20px; text-transform:capitalize;}
#menu .didot, #gifts .didot {font-family:'Didot'; font-size:60px; position:relative; float:left; margin:7px 15px 0 0;}
#menu .dollar, #gifts .dollar {font-size:35px; position:relative; float:left; font-family:'Didot'; margin-top:-5px}
#menu .styles-cont, #gifts .styles-cont {position:relative; float:left; width:100%; margin-bottom:45px;}
#menu .style-single, #gifts .style-single {position:relative; float:left; width:175px; height:260px; margin:45px 0 0 65px; text-align:center;}
#menu .single-icon, #gifts .single-icon {position:relative; float:left; width:100%; background:url(../images/red-circle.gif) 50% 0 no-repeat;}
#menu .single-icon img:hover {width:81px; height:81px; margin-bottom:5px; margin-top:5px;}
#menu .single-title, #gifts .single-title {font-size:18px; position:relative; float:left; margin:10px 0; width:100%; text-transform:uppercase;}
#menu .single-text, #gifts .single-text {position:relative; float:left; font-size:14px; width:100%;}
#menu .single-text i {font-family: "adobe-caslon-pro",serif; font-style: italic; font-weight: 600; letter-spacing:.5px;}
#menu .price {position:relative; float:left; font:normal 24px 'Didot'; width:100%; margin-bottom:10px;}
#menu .price span {font-size:14px; position:absolute; top:2px; left:64px;}
#menu .style-link, #gifts .style-link {position:relative; float:left; color:#fff; text-decoration:none; width:100%; font-size:11px; text-transform:uppercase; margin-top:5px;
 font-family: "freight-sans-pro",sans-serif; font-style: normal; font-weight: 700; letter-spacing:1.5px;}
#menu .style-link:hover {text-decoration:none; color:#acacac;}
#menu .tlc .style-link, #menu .therapy .style-link, #menu .beauty-queen .style-link {display:none;}

#menu .specialty .style-single, #menu .treat .style-single {margin-left:18px !important;}
#gifts .splurge .style-single {margin-left:110px !important; width:225px !important; height:172px !important;}
#gifts .tabs .style-single {height:150px !important;}
#gifts .tabs .single-text {font-style:italic !important;}
#menu .treat .single-icon {background:url(../images/gray-circle.gif) 50% 0 no-repeat;}
#gifts .single-icon {background:none !important;}
#gifts .gift-headline {font-size:14px; font-style:italic; text-align:center; position:relative; float:left; width:100%;}

#gifts #form-cont {position:relative; float:left; margin:0px 0 0 25px;}
#gifts .title {position:relative; float:left; margin-bottom:25px; font-size:18px; text-transform:uppercase; width:100%;}
#gifts .text {position:relative; float:left; margin-bottom:35px; font-size:14px; width:475px;}
#gifts #contact-form {position:relative; float:left; width:750px; margin-bottom:50px;}
#gifts .input-cont {position:relative; float:left; width:230px; margin:0 30px 25px 0;}
#gifts .form-input {position:relative; float:left; width:215px; height:40px; background:#5f5f5f; border:none; padding-left:10px; color:#000;}
#gifts .input-label {position:relative; float:left; font-size:13px; margin-bottom:5px; width:100%;}
#gifts #contact-form .last {margin-right:0px !important;}
#gifts .submit-btn {position:relative; float:right; margin-top:15px; width:100%;}
#gifts .submit-btn input {border:none; background:#ef4030; color:#fff; font-size:15px; padding:15px 80px; cursor:pointer;}
#gifts .submit-btn input:hover {background:#000;}
#gifts .submit-btn  input[type=submit] {-webkit-appearance: none;}

/*STYLES PAGE*/
.styles-page {position:fixed; top:0; left:280px !important;}
.styles-menu {width:278px; position:fixed; bottom:0; padding-bottom:10px; text-align:center; background:url(../images/styles-menu.png) no-repeat; z-index:5; display:none;}
.styles-menu #select-style {position:relative; float:left; width:100%; font:bold 14px "freight-sans-pro"; text-transform:uppercase; margin:50px 0 20px; letter-spacing:.5px;}
.styles-menu .styles-menu-link {position:relative; float:left; padding-top:10px; width:100%; text-transform:uppercase;
	font:normal 15px "freight-sans-pro"; color:#fff; text-decoration:none; letter-spacing:1px; display:none;}
.styles-menu .styles-menu-link:hover {color:#191919;}
#styles-circle { display:none; background:url(../images/menu-circle.png) no-repeat; width:278px; height:278px; position:absolute; z-index:5; font-family: "freight-sans-pro",sans-serif; font-style:normal; font-weight: 500;}
#styles-circle div {position:relative; float:left; width:100%; text-align:center;}
#styles-circle .title {font-size:32px; text-transform:uppercase; margin-top:75px;}
#styles-circle .sub {font-size:20px; font-style:italic; text-transform:capitalize;}
#styles-circle .instruction {font-size:12px; text-transform:uppercase; margin:50px 0 0 58px; width:160px;}
.high-maintenance .style-link, #styles-circle .instruction .ios {display:none;}

/*SLIDER*/
.cycloneslider {z-index:2; width:100% !important;}
	
/*NEWS*/
#news .post-content {position:relative; float:left; margin:35px 0 22px 30px; width:660px;}
#news .date {position:relative; float:left; font-family: "adobe-caslon-pro",serif; font-style: italic; font-weight: 600; width:100%; font-size:14px; letter-spacing:.5px;}
#news .title {position:relative; float:left; width:100%; font-size:18px; text-transform:uppercase; letter-spacing:1.5px;}
#news .line {margin-bottom:0px;}
#news .post-text {position:relative; float:left;}
#news .post-text a {color:#fff;}
#news .post-text a:hover {text-decoration:none; color:#ef4030;}
#news #nav-below {position:relative; float:left; width:100%; margin-top:10px; padding:0 25px 40px 0;}
#news #nav-below .slash {position:relative; float:left; margin:0 15px;}
#news .nav-previous, #news .nav-next {float:right;}
#news .nav-previous a, #news .nav-next a {color:#fff; text-transform:uppercase; text-decoration:none;} 


/*CONTACT*/
#contact .directions {position:absolute; bottom:6px; right:0; font-size:13px; background:#ef4030; padding:12px 20px; 
	text-transform:uppercase; color:#fff;}
#contact #form-cont, #contact .other {position:relative; float:left; margin:40px 0 0 25px;}
#contact .title {position:relative; float:left; margin-bottom:25px; font-size:18px; text-transform:uppercase; width:100%;}
#contact .text {position:relative; float:left; margin-bottom:35px; font-size:14px; width:475px;}
#contact #contact-form {position:relative; float:left; width:750px; margin-bottom:50px;}
#contact .input-cont {position:relative; float:left; width:230px; margin:0 30px 25px 0;}
#contact .comment-cont {position:relative; float:left; width:750px;}
input[type="text"], input[type="email"], textarea, input[type="number"], input[type="button"] {position:relative; float:left; width:230px; height:40px; background:#080808; border:none; padding-left:10px; color:#fff;}
#contact textarea {width:745px !important; height:160px !important; padding-top:10px; font:normal 13px "freight-sans-pro"; resize:none;}
#contact .input-label {position:relative; float:left; font-size:13px; margin-bottom:5px; width:100%;}
#contact #contact-form .last {margin-right:0px !important;}
#contact .submit-btn {position:relative; float:right; margin-top:15px;}
#contact input[type="submit"] {border:none; background:#ef4030; color:#fff; font-size:15px; padding:15px 80px; cursor:pointer;}
#contact .submit-btn input:hover {background:#000;}
#contact .other a {color:#fff;}
#contact .other a:hover {text-decoration:none; color:#ef4030;}
#contact .subscribe-cont {position:relative; float:left; width:100%;}
#contact #emma-form input[type="submit"] {font-size:13px !important; padding:0px 12px !important; height:42px; position:relative; float:left; margin-left:15px;}
#contact .emma-submit {margin:0 0 0 15px; float:left !important;}
#contact .emma-status {position:relative; float:left; width:100%; margin-top:10px; color:#fff;}
#contact .submit-btn  input[type=submit] {-webkit-appearance: none;}
#contact div.wpcf7-validation-errors, #gifts div.wpcf7-validation-errors {float:left; border:none;}
#contact div.wpcf7-response-output, #gifts div.wpcf7-response-output {margin:5px 0 0 4px; padding:0; color:#EF4030;}
#contact span.wpcf7-not-valid-tip-no-ajax, #gifts span.wpcf7-not-valid-tip-no-ajax, #call_for_credit #error_message {color:#EF4030 !important;}

/*FOR SHOP*/
#custom .add_to_cart_button, .custom-link, .custom-gift, .single .product ul.tabs {display:none !important;}
#custom .custom-link, #custom .custom-gift {display:inline-block !important;}
#gifts .subtitle {margin-bottom:35px;}
#gifts .products li {width:230px; margin-left:28px; float:left; text-align:center; margin-bottom:50px;}
#gifts .products .price {float:left; background:url(../images/gift-price.png) no-repeat center 0; width:100%; height:67px; margin-bottom:12px;}
#gifts .products .price .amount {color:#ef4030; font:normal 22px 'Didot'; float:left; width:100%; text-align:center; margin-top:20px;}
#gifts .products .product-info {font-style:italic;}
#gifts .products .product-title {font-size:18px; text-transform:uppercase;}
.button {background:#ef4030; color:#fff; font-size:15px; padding:15px 0; text-decoration:none; text-transform:uppercase; float:left; width:100%; border:none; cursor:pointer;}
#splurge .products li:first-child {margin:0 115px 50px;}
#custom .products li {margin-left:285px;}

/*SINGLE GIFT CERTIF*/
#product-info {float:right; width:310px; text-align:center;}
.single .product .images {float:left; width:400px; padding-left:30px;}
.single .product .description {font:bold 14px "freight-sans-pro"; text-transform:uppercase; float:left; width:100%;}
#tab-description, #call_for_credit {float:left; width:100%; margin-bottom:20px;}
#call_for_credit p, #call_for_credit input {display:inline-block; float:none !important; width:100%;}
#call_for_credit p:first-child {font-size:13px; width:100%;}
.quantity input[type="number"] {width:30px !important;}
#product-info button {width:230px; display:inline-block; float:none; cursor:pointer;}
input[type="button"] {float:left; width:50px; cursor:pointer;}
#product-info .quantity {display:inline-block; width:130px;}

.woocommerce-message {position:absolute; background:#212121; width:640px; z-index:10; left:85px; padding:45px 0 105px 0; text-align:center; text-transform:uppercase;}
.woocommerce-message .button {float:none; position:absolute; margin-top:35px; width:225px; left:205px;}
.woocommerce-message .close {cursor:pointer; position:absolute; top:10px; right:10px;}

/*CART*/
.woocommerce-cart .subtitle, .woocommerce-checkout .subtitle {margin-top:60px;}
.woocommerce table {width:100%; margin-top:65px; float:left; text-align:left; text-transform:uppercase;}
.woocommerce table th, .woocommerce table td {border-bottom:1px solid #bcbcbc; padding:14px;}
.woocommerce table th {border-top:1px solid #bcbcbc;}
.woocommerce table a {text-decoration:none; font-weight:bold; font-size:14px; color:#fff;}
.woocommerce table td.product-price, .woocommerce table td.product-subtotal,.woocommerce table .product-name .product-price, .woocommerce table .cart-collaterals .cart-total {font-style:italic; font-size:16px;}
.woocommerce table .product-name .product-price, .woocommerce table .product-name a {float:left;}
.woocommerce table .cart-collaterals td, .woocommerce table tr:last-child td {border:none;}
.woocommerce table tr:last-child td {padding:10px 0;}
.woocommerce table input[type="submit"] {float:left; width:230px;}
.woocommerce table input[type="submit"]:first-child {margin:0 12px 0 270px;}

/*CHECKOUT*/
.woocommerce-checkout h3 {font-weight:bold; font-size:14px; color:#fff; text-transform:uppercase; float:left; width:100%; padding:0 0 10px 30px; border-bottom:1px solid #bcbcbc; margin-bottom:30px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.woocommerce-checkout #primary {padding-right:0; width:814px;}
form.checkout {float:left; width:100%; background:#2C2C2C;}
form.checkout .form-row {float:left; width:230px; margin:0 30px 20px 0;}
form.checkout .form-row:nth-child(3n+4) {margin-right:0;}
form.checkout #customer_details, form.checkout .gift-certificate, form.checkout #order_review , .gift-certificate-receiver-detail-form, .form_table, form.checkout #customer_details label, #gift-certificate-receiver-form-single label, #gift-certificate-receiver-form-multi label {float:left; width:100%;}
form.checkout label {font-weight:400; font-size:13px; text-transform:uppercase; margin-bottom:10px;}
abbr {border-bottom:none;}
.styled-select {width:230px; background:url(../images/dd-arrow.png) no-repeat 205px 18px #080808; cursor:pointer; height:30px; overflow:hidden; float:left; padding-top:10px;}
.styled-select select {width:250px; height:40px; border:none; padding-left:10px; color:#fff; background:none;}
form.checkout .gift-certificate {border-radius:none; background:none; padding:0; }
.gift-certificate-show-form {float:left; width:100%; line-height:40px;}
.woocommerce-checkout .form_table {border:none; margin-top:20px;}
.woocommerce-checkout .single_multi_list {padding:25px 0 25px 35px; background:#080808; width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#gift-certificate-receiver-form-single .email_amount .email, #gift-certificate-receiver-form-multi .email_amount .email {float:left; width:355px; margin-right:35px;}
#gift-certificate-receiver-form-single div.amount, #gift-certificate-receiver-form-multi div.amount {width:45%; }
#gift-certificate-receiver-form-single p.coupon_amount_label, #gift-certificate-receiver-form-multi p.coupon_amount_label {text-align:left; margin-top:35px;}
#gift-certificate-receiver-form-single input[type="text"], #gift-certificate-receiver-form-multi input[type="text"] {width:355px; min-width:auto; margin-bottom:30px;}
#gift-certificate-receiver-form-single textarea, #gift-certificate-receiver-form-multi textarea {width:100%; height:170px;}
#coupons_list {display:none;}
.margin-cont, .gift-certificate-show-form, form.checkout #payment, .woocommerce-checkout .form_table, .thank-you {float:left; width:100%; padding:0 0 0 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
table.shop_table {margin-top:-33px; border-collapse:collapse;}
table.shop_table th {border-top:none;}
table.shop_table th:first-child, table.shop_table td:first-child {padding-left:30px; font-weight:bold;}
table.shop_table tr:last-child td {padding:14px;}
form.checkout #payment .payment_methods input, form.checkout #payment .payment_methods label, .woocommerce-checkout .woocommerce-info {display:none;}
.payment_box {font:normal 16px "adobe-caslon-pro"; font-style:italic; float:left; width:50%;}
#place_order {float:right; width:225px; margin-top:30px;}
#paypal_payment_form .button {width:325px; float:left; margin:10px 25px 0;}






